@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:var(--DarkBlue);
  margin: 0 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper{
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  padding: 1.5rem;
  border-radius: 0.625rem;
}
.p-rating{
  color: var(--Orange);
}

.btn-rating{
  background-color: var(--Orange);
  font-weight: 700;
font-size: 14px;
line-height: 18px;
letter-spacing: 1.86667px;
transition: all 0.15s ease-in-out;
}

.btn-rating:hover{
  color: var(--Orange);
  background-color: white;
}
.btn-number:hover{
  background-color: var(--Orange);
  color: white;
}
@media (min-width:375px){
  .wrapper{
    width: 327px;
  }
}